POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
SECRET_KEY='django-insecure-g%+en(zt@-cgc222y=53cp!nftz8#2i!4%ae04wz)51yq3uycb'
DEBUG=True
